body {
  text-align:center;
  font-family: helvetica;
}
canvas {
  border: 2px solid rgb(151, 149, 149);
}

h3 {
     font-family: 'Fahkwang', sans-serif;
     color: white
}

body {
    background-color: grey
}